name: wheel-axle
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  build-primary:
    runs-on: ${{ matrix.os }}
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        python-version:
          - '3.11'
          - '3.10'
          - '3.9'
        pip-version:
          - '23.0'
          - '22.3'
          - '22.2'
          - '22.1'
          - '22.0'
        setuptools-version:
          - '67.0'
          - '66.0'
          - '65.0'
    env:
      DEPLOY_PYTHONS: "3.11"
      DEPLOY_OSES: "Linux"
      DEPLOY_PIPS: "23.0"
      DEPLOY_SETUPTOOLS: "67.0"
      TWINE_USERNAME: __token__
      TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - shell: bash
        run: |
          echo "PYB_EXTRA_ARGS=--no-venvs" >> $GITHUB_ENV
          echo "SETUPTOOLS_VER=~=${{matrix.setuptools-version}}" >> $GITHUB_ENV
          echo "PIP_VER=~=${{matrix.pip-version}}" >> $GITHUB_ENV
      - shell: bash
        if: |
          github.event_name == 'push' &&
          contains(env.DEPLOY_OSES, runner.os) &&
          contains(env.DEPLOY_PYTHONS, matrix.python-version) &&
          contains(env.DEPLOY_PIPS, matrix.pip-version) &&
          contains(env.DEPLOY_SETUPTOOLS, matrix.setuptools-version)
        run: |
          echo "PYB_EXTRA_ARGS=+upload --no-venvs" >> $GITHUB_ENV
      - uses: pybuilder/build@master
        with:
          checkout: false
          with-venv: false
          python-version: ${{ matrix.python-version }}
          pyb-extra-args: ${{ env.PYB_EXTRA_ARGS }}
  build-secondary:
    runs-on: ${{ matrix.os }}
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        python-version:
          - '3.8'
          - '3.7'
        pip-version:
          - '23.0'
          - '22.0'
        setuptools-version:
          - '67.0'
          - '66.0'
          - '65.0'
          - '64.0'
          - '63.0'
          - '62.0'
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - shell: bash
        run: |
          echo "PYB_EXTRA_ARGS=--no-venvs" >> $GITHUB_ENV
          echo "SETUPTOOLS_VER=~=${{matrix.setuptools-version}}" >> $GITHUB_ENV
          echo "PIP_VER=~=${{matrix.pip-version}}" >> $GITHUB_ENV
      - uses: pybuilder/build@master
        with:
          checkout: false
          with-venv: false
          python-version: ${{ matrix.python-version }}
          pyb-extra-args: ${{ env.PYB_EXTRA_ARGS }}
  build-experimental:
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        python-version:
          - '3.12-dev'
        pip-version:
          - '23.0'
          - '22.0'
        setuptools-version:
          - '67.0'
          - '66.0'
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - shell: bash
        run: |
          echo "PYB_EXTRA_ARGS=--no-venvs" >> $GITHUB_ENV
          echo "SETUPTOOLS_VER=~=${{matrix.setuptools-version}}" >> $GITHUB_ENV
          echo "PIP_VER=~=${{matrix.pip-version}}" >> $GITHUB_ENV
      - uses: pybuilder/build@master
        with:
          checkout: false
          with-venv: false
          python-version: ${{ matrix.python-version }}
          pyb-extra-args: ${{ env.PYB_EXTRA_ARGS }}
  build-summary:
    if: success() || failure()
    runs-on: ubuntu-latest
    name: Build Summary
    needs:
      - build-primary
      - build-secondary
      - build-experimental
    steps:
      - name: Check build matrix status
        if: |
          needs.build-primary.result != 'success' ||
          needs.build-secondary.result != 'success'
        run: exit 1
